*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #fff;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

#main{

}

#header{
    height: 88px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 5;
    transition: all 0.2s linear;
}

#header-container{
    position: relative;
    width: 1170px;
    margin: auto;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .header_content{

}

#box-left-header{
    display: flex;
    align-items: center;
}

#header-container .box-left-header_menu{
    display: none;
    color: #e4b95b;
    font-size: 22px;
}

#box-left-header .box-left{
    display: inline-block;
}

#box-left-header img{
    max-width: 66px;
    margin-right: 15px;
}

#box-right-header i{
    transition: color 0.5s;
}

#box-right-header .cart-header{
    display: inline-block;
}

#box-right-header .cart-header::before,
#box-right-header .cart-header::after{
    content: "|";
    color: #fff;
}

#box-right-header i{
    padding: 0 15px;
}

#nav{
    
}

#nav > li{
    display: inline-block;
    padding: 0 15px;
}

#box-right-header i:hover,
#nav > li:hover > a,
#nav li:hover > a{
    color: #e4b95b;
}

#nav > li > a{
    color: #fff;
    font-weight: 900;
    line-height: 40px;
    transition: color 0.3s;
}

#nav li a{
    text-decoration: none;
}

#nav .subnav{
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    display: none;
    padding: 25px;
    box-shadow: 0px 0px 16px -3px #999;
    animation: subnav 0.5s ease;
    /* transition: display 0.5s, animation 0.5s; */
    transition: all 0.5s linear;
}

#nav li:hover .subnav{
    display: block;
}

@keyframes subnav {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#nav .subnav .category{

}

#nav .category > li{
    width: 25%;
    float: left;
    list-style: none;
    
}

#nav .category > li > a{
    font-weight: 700;
    text-transform: uppercase;
}

#nav .subnav a{
    color: #000;
}


#nav .sub-category li{
    display: block;
    padding: 4px 0;
}

#nav .sub-category li a{
    font-size: 14px;
    line-height: normal;
}

#nav .subnav .menu-slider{
    display: flex;
    width: 100%;
    padding-top: 25px;
}

#nav .subnav .menu-img:nth-child(1){
    justify-content: flex-start;
}

#nav .subnav .menu-img:nth-child(2){
    justify-content: flex-end;
}

#nav .subnav .menu-img{
    width: 100%;
    display: flex;
}

.menu-img-link{
    display: block;
    width: 96%;
    position: relative;
    overflow: hidden;
}

.menu-img-link::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0;
    border-style: solid;
    border-color: #000 transparent transparent;
    opacity: 0.2;
    transition: all 0.5s ease-in-out;
}

.menu-img-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent #000 transparent transparent;
    opacity: 0.2;
    transition: all 0.5s ease-in-out;
}

.menu-img-link:hover::before,
.menu-img-link:hover:after{
    border-width: 800px 800px 0 0;
}

#nav .subnav .menu-img img{
    display: block;
    min-width: 100%;
}

#box-right-header{
    color: #fff;
}

#box-right-header .search-icon{

}

#box-right-header .shopping-cart-icon{

}

#box-right-header{

}

/* Slider Category */
.slide__category{
    position: absolute;
    top: 92px;
    left: 10%;
    right: 10%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.slide__category-item{
    
}

.slide__category-link{
    display: flex;
    align-items: center;
    height: 34px;
    font-size: 14px;
    color: #e4b95b;
    line-height: 26px;
}

.slide__category-link:hover{
    color: #fff;
}

.slide__category-link:hover img{
    filter: brightness(0) invert(1);
}

.slide__category-icon{
    height: 100%;
    margin-right: 14px;
}

/* Slider */
#slider{
    position: relative;
    width: 100%;
    height: 41.67%;
    overflow: hidden;
}

.slide-wrap{
    display: flex;
    width: 200%;
    /* animation: slideShow 10s infinite; */
}

.slide-wrap.active{
    margin-left: -100%;
}

.slide{
    width: 50%;
    height: 41.67%;
    transition: margin-left 0.2s linear;
}

@keyframes slideShow{
    40%{
        margin-left: 0%;
    }

    50%{
        margin-left: -100%;
    }

    90%{
        margin-left: -100%;
    }

    100%{
        margin-left: 0%;
    }
}

.slide img{
    display: block;
    width: 100%;
}

.tran_slide{
    position: absolute;
    z-index: 10000;
    left: 50%;
    bottom: 13px;
    transform: translateX(-50%);
    cursor: default;
    z-index: 1;
}

.tran_slide-item{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.tran_slide-item + .tran_slide-item{
    margin-left: 2px;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

/* #r1:checked ~ .tran_slide > label[for="r1"]{
    background-color: #e4b95b;
}

#r2:checked ~ .tran_slide > label[for="r2"]{
    background-color: #e4b95b;
}

#r1:checked ~ .s1{
    margin-left: 0;
    transition: margin-left 0.2s linear;
}

#r2:checked ~ .s1{
    margin-left: -50%;
    transition: margin-left 0.2s linear;
} */

.slide.active{
    margin-left: -50%;
}

.slide.active ~ .tran_slide > label[for="r2"]{
    background-color: #e4b95b;
}

.slide ~ .tran_slide > label[for="r1"]{
    background-color: #e4b95b;
}

.slide.active ~ .tran_slide > label[for="r1"]{
    background-color: #fff;
}

.news_next,
.product_next,
.slide_next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 38px;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.product_next.left,
.slide_next.left{
    left: 0;
}

.product_next.right,
.slide_next.right{
    right: 0;
}

.news_next i,
.product_next i,
.slide_next i{
    display: block;
    line-height: 38px;
    text-align: center;
}

/* #slider{
    overflow: hidden;
    width: 100%;
    height: 41.67%;
    margin: 0 auto;
}

#slider .slide-wrap{
    width: 200%;
    animation: slide 10s ease infinite;
}

#slider .slide{
    float: left;
    width: 50%;
    height: 41.67%;
}

#slider .slide img{
    background: url(../img/slider/slider_1.png) top center / cover no-repeat;
    width: 100%;
} */

/* @keyframes slide {
    30% {margin-left: 0px;}
    50% {margin-left: -100%;}
    70% {margin-left: -100%;}
} */

.enjoyYourHoliday{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-weight: bold;
    /* animation: Rotate 3s infinite linear; */
}

/* .enjoyYourHolidayContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.enjoyYourHoliday > div{
    width: 100%;
    text-align: center;
}

/* .enjoyYourHoliday > div:first-child{
    animation: Div1 0.5s linear;

}

.enjoyYourHoliday > div:last-child{
    animation: Div2 0.5s linear;
} */

@keyframes Div1{
    from{
        opacity: 0;
        margin-left: -50%;
    }
    to{
        opacity: 1;
        margin-left: 0%;
    }
}

@keyframes Div2{
    from{
        opacity: 0;
        margin-left: 50%;
    }
    to{
        opacity: 1;
        margin-left: 0%;
    }
}

.enjoyYourHoliday > div > div{
    display: inline-block;
    padding: 10px;
    background-color: #000;
    margin: 4px;
    text-align: center;
    transform: rotate(-5deg);
}

.enjoyYourHoliday span{
    color: rgb(243, 164, 107);
}

@keyframes Rotate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    25%{
        transform: translate(-50%,-50%) rotate(90deg);
    }
    50%{
        transform: translate(-50%,-50%) rotate(180deg);
    }
    75%{
        transform: translate(-50%,-50%) rotate(270deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

@keyframes textTranCicle{
    0%{
        top: 50%;
        left: 50%;
    }
    25%{
        top: 52%;
        left: 48%;
    }
    50%{
        top: 54%;
        left: 50%;
    }
    75%{
        top: 52%;
        left: 52%;
    }
    100%{
        top: 50%;
        left: 50%;
    }
}

/* Content */
#content{
    min-height: 1000px;
}

/* advertise */
#advertise{
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding: calc(50px - 15px) 20px;
    display: flex;
}

#advertise img{
    display: block;
    filter: brightness(70%);
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

#advertise .adver:hover img{
    transform: scale(1.1);
}

#advertise .adver-big{
    height: 100%;
}

#advertise .adver{
    padding: 15px;
    position: relative;
}

#advertise .adver > a{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#advertise .adver-level-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* aspect-ratio: 260/171; */
    object-fit: cover;
}

#advertise .advertise_once{
    width: auto;
}

#advertise .advertise-content{
    position: absolute;
    bottom: 35px;
    left: 35px;
    color: #fff;
}

#advertise .advertise-content h3{
    font-size: 20px;
    margin: 16px 0;
}

.btn{
    line-height: 34px;
    min-width: 170px;
    font-size: 16px;
    color: #fff;
    background-color: rgba(0,0,0,0);
    border: 2px solid #fff;
    border-radius: 25px;
    transition: background-color 0.4s;
}

.btn:hover{
    background-color: #e4b95b;
}

#section2{
    background: url(../img/beverage/bg-section.jpg) top center / cover no-repeat;
    background-attachment: fixed;
}

#section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    padding: 50px 0;
}

#content .header-sections{
    font-size: 40px;
    color: #e4b95b;
    margin: 0 0 15px;
}

#section .hover-header-black:hover{
    color: #000;
}

#content .sub-header{
    text-align: center;
    max-width: 660px;
    margin: 0 0 50px;
}

#section .content-sections{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section .beverage-col{
    width: 47%;
}

#section .beverage{
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

#section .beverage .beverage-img{
    flex: 1;
    padding: 12px;
}

#section .beverage .beverage-img img{
    width: 100%;
}

#section .beverage .content-beverage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 4;
    margin-right: 20px;
}

/* #section .beverage .content-beverage::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    border-bottom: 2px dashed #fff;
} */

#section .beverage .detail-beverage{
    padding-top: 12px;
    border-top: 2px dashed #fff;
}

#section .content-beverage .name-cost{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

#section .name-cost h3{
    color: #e4b95b;
     
}

#section .name-cost .name-beverage:hover{
    color: #ec6115;
    cursor: pointer;
}


#section .name-cost .name-beverage{
    font-size: 20px;
}

#section2 .view-more .btn-research{
    padding: 0 35px;
}

/* Section 3 - Smell product */
.smell-product-container{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

#section .smell-product{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    transition: all 0.25s ease;
}

#section .sub-header-section3{
    color: #000;
}

#section .smell-product .type-product{
    min-width: 25%;
    position: relative;
}

#section .type-product .cost-type-product{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #e4b95b;
    z-index: 1;
    padding: 8px 20px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 15%);
    font-weight: 700;
    background-color: #fff;
    transition: background-color 0.5s, color 0.5s;
}

#section .smell-product .img-type-product{
    position: relative;
    border: 1px solid #f1f1f1;
}

#section .img-type-product:hover .act-product{
    display: block;
    transform: translateX(0%);
    opacity: 1;
}

#section .type-product:hover .cost-type-product{
    background-color: #e4b95b;
    color: #fff;
}

@keyframes icon-view{
    0% {transform: translateX(-100%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}

@keyframes icon-cart{
    0% {transform: translateX(100%); opacity: 0;}
    100% {transform: translateX(0%); opacity: 1;}
}

#section .smell-product img{
    width: 100%;
    display: block;
}

#section .smell-product .actions-product{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section .smell-product .act-product{
    background-color: #e4b95b;
    padding: 7px 14px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    animation: icon-view 0.5s ease;
    transition: animation 0.5s, transform 0.5s, opacity 0.5s;
}

#section .smell-product .act-product:hover{
    background-color: #c7a17a;
    cursor: pointer;
}

#section .smell-product .cart-product{
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    right: 0;
    transform: translateX(100%);
}

#section .smell-product .view-product{
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    left: 0;
    transform: translateX(-100%);
}

#section .smell-product .name-product{
    color: #000;
}

#section .procedure{
    display: flex;
    margin: 50px 0;
}

#section .content-procedure:nth-child(1){
    background-color: #7a5c3d;
    border-radius: 10px;
    position: relative;
    min-width: 53%;
    min-height: 400px;
}

#section .procedure .write-content-proceduct{
    width: 70%;
    padding: 50px 20px 20px 50px;
}

#section .content-procedure{
    flex: 1;
}

#section .procedure .header-procedure{
    font-size: 40px;
    max-width: 70%;
}

#section .procedure .sub-header-procedure{
    line-height: 25px;
    padding: 7px 0 15px;
}

#section .procedure .btn-procedure{
    padding: 0 30px;
}

#section .procedure .icon-cf-quy-trinh{
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#section .content-procedure:nth-child(2){
    position: relative;
    align-self: center;
    /* overflow: hidden; */
}

.content-procedure-container{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.25s;
}

.content-procedure-container:hover{
    transform: scale(0.97);
}

.content-procedure-container-img{
    display: flex;
    width: 300%;
    transition: all 0.2s linear;
}

.content-procedure-item{
    width: 100%;
}

#section .content-procedure .img-procedure{
    width: 100%;
    display: block;
}

.content-procedure-tran_img{
    display: flex;
    position: absolute;
    bottom: -30px;
    left: 10px;
    width: 70px;
    cursor: pointer;
}

.content-procedure-tran_img-item{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 0 2px;
    background-color: #eae7de;
    cursor: pointer;
    transition: all 0.2s linear;
}

.content-procedure-tran_img-item.item-long{
    background-color: #e4b95b;
    flex: 1;
}

/* News-about-coffee */
#section4-news{
    background-color: #eae7de;
}

#section4-news .sub-header{
    color: #000;
}

#section .news-about-coffee{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    transition: all 0.25s ease;
}

#section .news-coffee{
    width: 32.5%;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

#section .news-coffee .img-news-coffee:hover{
    background-color: #e4b95b;
}

#section .news-coffee .img-news{
    display: block;
    width: 100%;
    object-fit: cover;
}

#section .img-news-coffee:hover .img-news{
    opacity: 0.6;
}

#section .content-news{
    color: #000;
    margin: 15px;
}

#section .content-news .header-news{
    margin-bottom: 10px;
    font-size: 18px;
    max-height: 25px;
    overflow: hidden;
}

#section .content-news .header-news:hover{
    color: #e4b95b;
}

#section .content-news .quote-news{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

#section .content-news .time-news{
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    background-color: #e4b95b;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 12px;
    border-radius: 5px;
}

.news_next{
    display: none;
}

/* Feedback */
#section5-feedback{
    background: url(../img/feedback/bg-section-danhgia.jpg) top center / cover no-repeat;
    background-attachment: fixed;
    position: relative;
}

#section5-feedback #section{
    /* overflow: hidden; */
}

.container__content-feedback{
    overflow: hidden;
}

#section .content-feedback{
    display: flex;
    width: 300%;
    transition: all 0.2s linear;
}

#section .content-feedback-item{
    margin: 0 auto 30px;
    text-align: center;
    width: 100%;
}

#section .img-feedback{
    position: relative;
    width: 95px;
    height: 95px;
    border: 1px solid #e4b95b;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

#section .img-feedback img{
    position: absolute;
    width: 95%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#section .content-feedback-item .name-people-feedback{
    color: #e4b95b;
    font-weight: 400;
    font-size: 24px;
    display: inline-block;
    margin: 30px 0 10px;
}

#section .content-feedback-item .comment-feedback{
    max-width: 45%;
    margin: 0 auto;
}

.content-procedure-tran_img.feedback{
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    cursor: pointer;
}

/* section 6 */
#section6-select-halu{
    color: #959393;
}

#section6-select-halu .tip-of-halu{
    display: flex;
    justify-content: space-between;
}

#section6-select-halu .secret-halu{
    text-align: center;
    width: 32%;
}

#section6-select-halu .img-secret img{
    width: 20%;
}

#section6-select-halu .header-secret{
    margin: 15px 0;
    font-weight: 700;
    font-size: 20px;
    color: #323c3f;
}

#footer{
    background: url(../img/footer/banner-footer.jpg) top center / cover no-repeat;
    font-size: 15px;
}

#footer .logo-footer{
    width: 7%;
    margin: 0 auto;
    padding: 0 0 50px;
}

#footer .logo-footer .img-logo-footer{
    width: 100%;
}

#footer .content-footer{
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #3b2c2b;
}

#footer .substance:not(:nth-child(1)){
    padding-left: 20px;
}

#footer .substance-footer1{
    flex: 2.5;
}

#footer .substance-footer2{
    flex: 2;
}

#footer .substance-footer3{
    flex: 1;
}

#footer .substance-footer4{
    flex: 2;
}

#footer .header-footer{
    font-size: 20px;
    color: #e4b95b;
}

#footer .sub-content-footer{
    margin-top: 20px;
    line-height: 1.6;
}

#footer .sub-content-footer li{
    padding: 5px 0;
}

#footer .sub-content-footer li a{
    transition: padding-left 0.5s, color 0.5s;
}

#footer .policy li:hover a{
    color: #e4b95b;
    padding-left: 15px;
}

#footer .sub-content-footer .icon-locate{
    padding: 0 10px;
    color: #e4b95b;
}

#footer .license-halu{
    padding-top: 20px;
    margin-bottom: -30px;
}

#footer .license-halu a{
    font-weight: 700;
}

#footer .license-halu a:hover{
    color: #ccc;
}

#book-halu{
    background-color: #e4b95b;
    position: fixed;
    top: 50%;
    right: 10px;
    z-index: 7;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 3px #f3f3f3;
    width: 150px;
    height: 46px;
}

#book-halu .booking{
    text-transform: uppercase;
    font-size: 16px;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: left 0.5s;
}

#book-halu:hover .booking{
    left: 35%;
}

#book-halu .calendar{
    height: 40px;
    border: 1px solid #fff;
    border-radius: 20px;
    position: absolute;
    top: 3px;
    left: calc(100% - 46px);
    right: 3px;
    bottom: 3px;
    transition: left 0.5s;
}

#book-halu:hover .calendar{
    left: 3px;
    cursor: pointer;
}

#book-halu .align-center-icon{
    width: 40px;
    height: 40px;
    position: relative;
}

#book-halu .icon-calendar{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
}

#top-page{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #212121;
    text-align: center;
    color: #a7a7a7;
    line-height: 18px;
    font-family: 'Trebuchet MS', sans-serif;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

#top-page i{
    font-size: 12px;
    font-weight: 900;
}

.load-page{
    /* background-image: url("https://9mobi.vn/cf/images/2015/03/nkk/hinh-dep-1.jpg"); */
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 1s linear;
    /* background-color: red; */
}

.loading-icon{
    position: fixed;
    z-index: 9999;
}
